.header_div {
    display: flex;
    flex-direction: row;
    align-content: center;
    justify-content: center;
    position: relative;
    z-index: 2;
    margin-top: 30px;
    
}

.nav_div {
    width: 500px;
    height: 50px;
    display: flex;
    justify-content: space-around;
    background: rgba(255, 255, 255, 0.16);
    border-radius: 16px;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(8.8px);
    -webkit-backdrop-filter: blur(8.8px);
    border: 1px solid rgba(255, 255, 255, 0.23);
}

button {
    all: unset;
}

.nav_button {
    color: aliceblue;
    font-weight: bold;
}
