.PCcontainer {
    margin: 5px;
    padding: 5px;
    /* Taille responsive */
    flex: 1 1 280px;
    max-width: 300px;
    min-width: 260px;
    gap: 16px;

    background: rgba(255, 255, 255, 0.16);
    border-radius: 16px;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(6.8px);
    -webkit-backdrop-filter: blur(6.8px);
    border: 1px solid rgba(255, 255, 255, 0.23);


}
.PCtitleAndPicture{
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.PCpicture {}

.PCtitle {}

.PCdescription {}

.PCtopics {}

.PCtopic {}