.PCcontainer {
    margin: 15px;
    padding: 10px 5px 10px 5px;
    /* Taille responsive */
    flex: 1 1 280px;
    max-width: 300px;
    min-width: 260px;
    height: 200px;
    gap: 16px;

    background: rgba(255, 255, 255, 0.16);
    border-radius: 16px;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(6.8px);
    -webkit-backdrop-filter: blur(6.8px);
    border: 1px solid rgba(255, 255, 255, 0.23);


}
.PCcontainer_picture{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 50%;

}
.PCpicture {
    width: 100%;
    height: 100%;
    object-fit: contain;
    object-position: center;
}

.PCcontainer_text{
    display: flex;
    flex-direction: column;
}
.PCtitle {
    margin: 5px;
}

.PCdescription {
    font-size: 14px;
    margin: 5px;
}

.PCtopics {
    display: flex
}

.PCtopic {
    border-radius: 10px;
    margin: 2px;
    padding: 2px 6px 2px 6px;
    width: fit-content;
}
