html, body, #root {
  height: 100%;
  margin: 0;
}

body {
  background-color: rgb(0, 0, 19);
}

.layout {
  min-height: 100vh;          
  display: flex;              
  flex-direction: column;     
  width: 100%;
  position: relative;
}

.app-main {
  flex: 1;                    
  display: flex;
  flex-direction: column;
}
